.categoryImage {
  & .imageFrame {
    @apply w-1/2 lg:w-2/5 h-auto aspect-[5/6] absolute-center origin-center;
    @apply flex;

    & > div {
      @apply w-full h-full relative;
      @apply transition-all duration-300 group-hover:delay-75 group-hover:duration-500;
    }
  }
  & .image1 {
    z-index: 3;
    & > div {
      @apply opacity-0 group-hover:opacity-100;
    }
  }
  & .image2 {
    z-index: 2;
    & > div {
      @apply opacity-0 group-hover:opacity-100;
    }
  }
  & .image3 {
    z-index: 1;
    & > div {
      @apply opacity-0 group-hover:opacity-100;
    }
  }
  & .graphicFrame {
    @apply w-full h-full absolute-center origin-center opacity-0;
    @apply transition-all duration-300 group-hover:delay-75 group-hover:duration-500;
    & > div {
      @apply w-1/4 max-w-2xl aspect-[1/1] absolute-center origin-center;
      & > svg {
        @apply transition-all duration-300 group-hover:delay-75 group-hover:duration-700 scale-50 min-w-[100px];
      }
    }
  }

  // LAYOUT 1
  &.layout-1 {
    & .image1 {
      & > div {
        @apply group-hover:rotate-[15deg] group-hover:scale-105;
      }
    }
    & .image2 {
      & > div {
        @apply group-hover:rotate-[50deg] group-hover:translate-x-[-65%] group-hover:translate-y-[-60%] group-hover:scale-75;
      }
    }
    & .image3 {
      & > div {
        @apply group-hover:rotate-[-30deg] group-hover:translate-x-[75%] group-hover:translate-y-[30%] group-hover:scale-[60%];
      }
    }
    & .graphicFrame {
      //upper right
      @apply group-hover:opacity-100;
      & .graphic1 > svg {
        @apply group-hover:translate-y-[-100%]  group-hover:translate-x-[140%]  group-hover:scale-100 min-w-[100px];
        @apply md:group-hover:translate-y-[-50%] md:group-hover:translate-x-[125%];
      }
      // lower left
      & .graphic2 > svg {
        @apply group-hover:translate-y-[80%]  group-hover:translate-x-[-125%]  group-hover:scale-100 min-w-[100px];
        @apply md:group-hover:translate-y-[10%];
      }
      //top
      & .graphic3 > svg {
        @apply group-hover:translate-y-[-150%]  group-hover:translate-x-[50%]  group-hover:scale-[40%];
        @apply md:group-hover:translate-y-[-120%]  md:group-hover:translate-x-[50%]  md:group-hover:scale-[40%];
      }
    }
  }
  // LAYOUT 2
  &.layout-2 {
    & .image1 {
      & > div {
        @apply group-hover:rotate-[-8deg] group-hover:scale-105;
      }
    }
    & .image2 {
      & > div {
        @apply group-hover:rotate-[-30deg] group-hover:scale-[80%] group-hover:translate-x-[-60%] group-hover:translate-y-[15%];
      }
    }
    & .image3 {
      & > div {
        @apply group-hover:rotate-[30deg] group-hover:scale-[80%] group-hover:translate-x-[60%] group-hover:translate-y-[30%];
      }
    }
    & .graphicFrame {
      // upper right
      @apply group-hover:opacity-100;
      & .graphic1 > svg {
        @apply group-hover:translate-y-[-60%]  group-hover:translate-x-[120%] group-hover:scale-[90%];
        @apply md:group-hover:translate-y-[-60%]  md:group-hover:translate-x-[120%];
      }
      // lower left
      & .graphic2 > svg {
        @apply group-hover:translate-y-[175%]  group-hover:translate-x-[-50%] lg:group-hover:translate-x-[50%] group-hover:scale-[90%];
        @apply md:group-hover:translate-y-[125%];
      }
      //top left
      & .graphic3 > svg {
        @apply group-hover:translate-y-[-100%]  group-hover:translate-x-[-120%]  group-hover:rotate-[10deg] group-hover:scale-[90%];
        @apply md:group-hover:translate-y-[-75%];
      }
    }
  }

  // LAYOUT 3
  &.layout-3 {
    background: black;
    & .image1 {
      & > div {
        @apply group-hover:rotate-[-3deg] group-hover:scale-110;
      }
    }
    & .image2 {
      & > div {
        @apply group-hover:rotate-[-15deg] group-hover:scale-[80%] group-hover:translate-x-[-60%] group-hover:translate-y-[15%];
      }
    }
    & .image3 {
      & > div {
        @apply group-hover:rotate-[15deg] group-hover:scale-[80%] group-hover:translate-x-[60%] group-hover:translate-y-[0%];
      }
    }
    & .graphicFrame {
      // right
      @apply group-hover:opacity-100;
      & .graphic1 > svg {
        @apply group-hover:translate-x-[160%] group-hover:translate-y-[120%];
        @apply md:group-hover:translate-y-[100%] md:group-hover:translate-x-[140%]  group-hover:scale-100 rotate-[30deg];
      }
      //  left
      & .graphic2 > svg {
        @apply group-hover:translate-y-[140%] group-hover:translate-x-[-150%];
        @apply md:group-hover:translate-y-[80%]  md:group-hover:translate-x-[-150%]  group-hover:scale-100 -rotate-[30deg];
      }
      //top
      & .graphic3 > svg {
        @apply group-hover:translate-y-[-110%] group-hover:translate-x-[100%]  group-hover:scale-[50%];
        @apply md:group-hover:translate-y-[-110%] md:group-hover:translate-x-[125%];
      }
    }
  }

  // LAYOUT 4
  &.layout-4 {
    & .image1 {
      & > div {
        @apply group-hover:rotate-[10deg]  group-hover:scale-110;
      }
    }
    & .image2 {
      & > div {
        @apply group-hover:rotate-[-15deg]  group-hover:translate-x-[-75%]  group-hover:translate-y-[40%]  group-hover:scale-[60%];
      }
    }
    & .image3 {
      & > div {
        @apply group-hover:rotate-[-40deg]  group-hover:translate-x-[70%]  group-hover:translate-y-[-50%]  group-hover:scale-75;
      }
    }
    & .graphicFrame {
      //upper right
      @apply group-hover:opacity-100;
      & .graphic1 > svg {
        @apply group-hover:translate-y-[30%]   group-hover:translate-x-[125%]   group-hover:scale-100;
      }
      //  left
      & .graphic2 > svg {
        @apply group-hover:translate-y-[10%]  group-hover:translate-x-[-150%]   group-hover:scale-50;
      }
      // left
      & .graphic3 > svg {
        @apply group-hover:translate-y-[-50%]   group-hover:translate-x-[-120%]   group-hover:scale-100;
      }
    }
  }
}

//Category Images
.categoryImageCard {
  & .imageFrame {
    @apply w-2/3 h-2/3 aspect-[1/1] absolute-center origin-center;
    & > div {
      @apply w-full h-full;
      @apply transition-all duration-300  group-hover:duration-500;
    }
  }
  & .image1 {
    z-index: 4;
  }
  & .image2 {
    z-index: 3;
  }
  & .image3 {
    z-index: 2;
  }
  & .graphicFrame {
    @apply w-full h-full absolute-center origin-center;
    @apply transition-all duration-300 group-hover:duration-500;
    & > div {
      @apply w-1/4  max-w-xl aspect-[1/1] absolute-center origin-center;
      & > svg {
        @apply transition-all duration-300 group-hover:duration-700 scale-50;
      }
    }
  }

  // LAYOUT 1
  &.layout-1 {
    & .image1 {
      & > div {
        @apply rotate-[7deg] scale-105;
        @apply group-hover:rotate-[15deg] group-hover:scale-[125%];
      }
    }
    & .image2 {
      & > div {
        @apply rotate-[50deg] translate-x-[-40%] md:translate-x-[-50%] translate-y-[-40%] scale-[80%];
        @apply group-hover:rotate-[45deg] md:group-hover:translate-x-[-45%] group-hover:translate-x-[-35%] group-hover:translate-y-[-35%];
      }
    }
    & .image3 {
      & > div {
        @apply rotate-[-30deg] translate-x-[40%] md:translate-x-[50%] translate-y-[30%] translate-y-[30%] scale-[60%];
        @apply group-hover:rotate-[-25deg] md:group-hover:translate-x-[45%] group-hover:translate-x-[35%] group-hover:translate-y-[25%];
      }
    }
    & .graphicFrame {
      //upper right
      & .graphic1 > svg {
        @apply translate-y-[-80%] sm:translate-y-[-50%] md:translate-y-[-40%] lg:translate-y-[-60%]  translate-x-[60%] sm:translate-x-[85%] md:translate-x-[120%] lg:translate-x-[80%]   scale-100 w-[175px];
        @apply group-hover:translate-y-[-75%] md:group-hover:translate-y-[-45%] lg:group-hover:translate-y-[-55%]  group-hover:translate-x-[70%] md:group-hover:translate-x-[110%] lg:group-hover:translate-x-[70%]  group-hover:scale-90 group-hover:rotate-[-5deg];
      }
      // middle left
      & .graphic2 > svg {
        @apply translate-y-[60%] sm:translate-y-[30%] md:translate-y-[10%]  translate-x-[-90%]  scale-100 w-[225px];
        @apply group-hover:translate-y-[50%]  md:group-hover:translate-y-[5%]  group-hover:translate-x-[-80%]  group-hover:scale-90 group-hover:rotate-[5deg];
      }
      // bottom left
      & .graphic3 > svg {
        @apply translate-y-[100%] sm:translate-y-[60%] lg:translate-y-[105%]  translate-x-[-60%] lg:translate-x-[-90%]  scale-100 w-[45px] md:w-[60px];
        @apply group-hover:translate-y-[100%] sm:group-hover:translate-y-[55%]  lg:group-hover:translate-y-[100%]  group-hover:translate-x-[-50%] lg:group-hover:translate-x-[-80%] group-hover:scale-90 group-hover:rotate-[5deg];
      }
    }
  }
  // LAYOUT 2
  &.layout-2 {
    & .image1 {
      & > div {
        @apply rotate-[-8deg] scale-105;
        @apply group-hover:rotate-[-2deg] group-hover:scale-[125%];
      }
    }
    & .image2 {
      & > div {
        @apply rotate-[-25deg] scale-[75%] translate-x-[-35%] translate-y-[10%];
        @apply group-hover:translate-x-[-45%] group-hover:translate-y-[5%];
        @apply group-hover:rotate-[-30deg] group-hover:scale-[80%];
        @apply md:group-hover:translate-x-[-40%] md:group-hover:translate-y-[12.5%];
        @apply lg:group-hover:translate-x-[-55%] lg:group-hover:translate-y-[15%];
      }
    }
    & .image3 {
      & > div {
        @apply rotate-[20deg] scale-[75%] translate-x-[35%] translate-y-[10%];
        @apply group-hover:rotate-[30deg] group-hover:scale-[90%] md:group-hover:scale-[80%] group-hover:translate-x-[45%] group-hover:translate-y-[20%];
        @apply md:group-hover:translate-x-[40%] md:group-hover:translate-y-[15%];
        @apply lg:group-hover:translate-x-[55%] lg:group-hover:translate-y-[30%];
      }
    }
    & .graphicFrame {
      // upper right
      & .graphic1 > svg {
        @apply translate-y-[-90%]  md:translate-y-[-60%] lg:translate-y-[-90%] -rotate-12 translate-x-[80%] md:translate-x-[120%]  lg:translate-x-[80%] scale-90 w-[150px];
        @apply group-hover:translate-y-[-80%] md:group-hover:translate-y-[-50%] lg:group-hover:translate-y-[-80%] group-hover:rotate-0 group-hover:translate-x-[75%] md:group-hover:translate-x-[110%] lg:group-hover:translate-x-[100%] group-hover:scale-100;
        @apply xl:translate-x-[100%] xl:group-hover:translate-x-[125%];
      }
      // lower left
      & .graphic2 > svg {
        @apply translate-y-[110%] sm:translate-y-[90%] md:translate-y-[60%]  lg:translate-y-[125%]  translate-x-[-90%] sm:translate-x-[-60%] md:translate-x-[-50%] lg:translate-x-[-60%] scale-90 w-[125px];
        @apply group-hover:translate-y-[100%] md:group-hover:translate-y-[50%] lg:group-hover:translate-y-[145%]  group-hover:translate-x-[-80%] md:group-hover:translate-x-[-50%] lg:group-hover:translate-x-[-80%] group-hover:scale-100;
        @apply xl:translate-y-[125%] xl:translate-x-[-60%] xl:group-hover:translate-x-[-80%] xl:group-hover:translate-y-[150%];
      }
      //top left
      & .graphic3 > svg {
        @apply translate-y-[-100%]  translate-x-[-150%]  rotate-[10deg] scale-100 w-[90px];
        @apply sm:translate-y-[-85%]  sm:translate-x-[-125%] md:translate-x-[-95%] md:translate-y-[-60%] rotate-[10deg];
        @apply lg:translate-y-[-125%]  lg:translate-x-[-125%]  lg:rotate-[10deg] lg:scale-90;
        @apply group-hover:translate-y-[-90%]  md:group-hover:translate-y-[-50%]  group-hover:translate-x-[-80%] md:group-hover:rotate-[15deg] group-hover:scale-100;
        @apply lg:group-hover:translate-y-[-135%]  lg:group-hover:translate-x-[-150%]  lg:group-hover:rotate-[15deg] lg:group-hover:scale-100;
      }
    }
  }

  // LAYOUT 3
  &.layout-3 {
    & .image1 {
      & > div {
        @apply rotate-[-3deg] scale-110;
        @apply group-hover:rotate-[0deg] group-hover:scale-[135%] md:group-hover:scale-[125%];
      }
    }
    & .image2 {
      & > div {
        @apply rotate-[-15deg] scale-[75%] translate-x-[-35%] translate-y-[10%];
        @apply md:translate-x-[-25%] md:translate-y-[10%];
        @apply lg:translate-x-[-35%] lg:translate-y-[10%];
        @apply group-hover:translate-x-[-45%]  group-hover:translate-y-[15%];
        @apply md:group-hover:translate-x-[-30%] md:group-hover:translate-y-[15%];
        @apply lg:group-hover:translate-x-[-45%]  lg:group-hover:translate-y-[15%];
        @apply group-hover:rotate-[-20deg]  group-hover:scale-[80%];
      }
    }
    & .image3 {
      & > div {
        @apply rotate-[15deg] scale-[75%] translate-x-[35%] translate-y-[0%];
        @apply md:translate-x-[25%] md:translate-y-[0%];
        @apply lg:translate-x-[35%] lg:translate-y-[0%];
        @apply group-hover:translate-x-[45%]  group-hover:translate-y-[-5%];
        @apply md:group-hover:translate-x-[30%] md:group-hover:translate-y-[-5%];
        @apply lg:group-hover:translate-x-[45%]  lg:group-hover:translate-y-[-5%];
        @apply group-hover:rotate-[20deg]  group-hover:scale-[80%];
      }
    }
    & .graphicFrame {
      // right
      @apply opacity-100;
      & .graphic1 > svg {
        @apply translate-y-[0%] translate-x-[160%] scale-100 w-[125px] group-hover:scale-90;
        @apply sm:translate-y-[0%] sm:translate-x-[200%];
        @apply md:translate-y-[25%] md:translate-x-[225%] md:rotate-[15deg];
        @apply lg:translate-y-[20%] lg:translate-x-[175%];
        @apply xl:translate-y-[40%] xl:translate-x-[225%];
        @apply group-hover:translate-y-[20%]  group-hover:translate-x-[200%] group-hover:rotate-12;
        @apply md:group-hover:translate-y-[20%]  md:group-hover:translate-x-[250%] md:group-hover:rotate-[15deg];
        @apply lg:group-hover:translate-y-[40%]  lg:group-hover:translate-x-[200%];
        @apply xl:group-hover:translate-y-[50%]  xl:group-hover:translate-x-[250%];
      }
      //  left
      & .graphic2 > svg {
        @apply translate-y-[50%] translate-x-[-150%] scale-100 w-[125px];
        @apply sm:translate-y-[50%] sm:translate-x-[-150%];
        @apply md:translate-y-[20%] md:translate-x-[-175%];
        @apply xl:translate-y-[50%] xl:translate-x-[-200%];
        @apply group-hover:translate-y-[75%]  group-hover:translate-x-[-175%]  group-hover:scale-90;
        @apply md:group-hover:translate-y-[40%] md:group-hover:translate-x-[-200%];
        @apply lg:group-hover:translate-y-[70%] lg:group-hover:translate-x-[-185%];
        @apply xl:group-hover:translate-y-[70%] xl:group-hover:translate-x-[-210%];
      }
      //top
      & .graphic3 > svg {
        @apply translate-y-[-100%] translate-x-[200%] scale-100 w-10  group-hover:scale-90;
        @apply md:translate-y-[-60%] md:translate-x-[300%];
        @apply lg:translate-y-[-100%] lg:translate-x-[300%];
        @apply xl:translate-y-[-100%] xl:translate-x-[400%];
        @apply group-hover:translate-y-[-125%]  group-hover:translate-x-[250%];
        @apply md:group-hover:translate-y-[-70%] md:group-hover:translate-x-[350%];
        @apply lg:group-hover:translate-y-[-110%]  lg:group-hover:translate-x-[350%];
        @apply xl:group-hover:translate-y-[-110%]  xl:group-hover:translate-x-[450%];
      }
    }
  }

  // LAYOUT 4
  &.layout-4 {
    & .image1 {
      & > div {
        @apply rotate-[10deg]  scale-110;
        @apply group-hover:rotate-[3deg] group-hover:scale-[125%];
      }
    }
    & .image2 {
      & > div {
        @apply rotate-[-20deg]  translate-x-[-45%]  translate-y-[35%] group-hover:translate-x-[-35%]  group-hover:translate-y-[30%] scale-[65%];
        @apply md:translate-x-[-30%] md:translate-y-[35%] md:group-hover:translate-x-[-27.5%]  md:group-hover:translate-y-[30%];
        @apply lg:translate-x-[-45%] lg:translate-y-[35%] lg:group-hover:translate-x-[-35%]  lg:group-hover:translate-y-[30%];
        @apply group-hover:rotate-[-30deg] group-hover:scale-[60%];
      }
    }
    & .image3 {
      & > div {
        @apply rotate-[-30deg]  translate-x-[45%]  translate-y-[-30%]  scale-75;
        @apply group-hover:translate-x-[40%]  group-hover:translate-y-[-25%];
        @apply md:translate-x-[35%]  md:translate-y-[-30%];
        @apply md:group-hover:translate-x-[30%]  md:group-hover:translate-y-[-20%];
        @apply lg:translate-x-[45%]  lg:translate-y-[-30%];
        @apply lg:group-hover:translate-x-[40%]  lg:group-hover:translate-y-[-25%];
        @apply group-hover:rotate-[-20deg]    group-hover:scale-[80%];
      }
    }
    & .graphicFrame {
      // right
      & .graphic1 > svg {
        @apply scale-90 w-[150px] group-hover:scale-100  group-hover:rotate-12;
        @apply translate-y-[70%] translate-x-[100%]  group-hover:translate-y-[80%]  group-hover:translate-x-[120%];
        @apply md:translate-y-[40%] md:translate-x-[125%]  md:group-hover:translate-y-[50%]  md:group-hover:translate-x-[135%];
        @apply lg:translate-y-[75%] lg:translate-x-[115%]  lg:group-hover:translate-y-[100%]  lg:group-hover:translate-x-[130%];
      }
      //  left
      & .graphic2 > svg {
        @apply scale-90 w-[50px] group-hover:scale-100;
        @apply translate-y-[-25%] translate-x-[-140%];
        @apply group-hover:translate-y-[-30%] group-hover:translate-x-[-155%];
        @apply md:translate-y-[-10%] md:translate-x-[-200%];
        @apply md:group-hover:translate-y-[-15%] md:group-hover:translate-x-[-220%];
        @apply lg:translate-y-[-30%] lg:translate-x-[-200%];
        @apply lg:group-hover:translate-y-[-35%] lg:group-hover:translate-x-[-220%];
      }
      // left
      & .graphic3 > svg {
        @apply scale-90  w-[175px] group-hover:scale-100;
        @apply translate-y-[-80%] translate-x-[-100%] group-hover:translate-y-[-95%] group-hover:translate-x-[-110%];
        @apply md:translate-y-[-55%] md:translate-x-[-80%] md:group-hover:translate-y-[-70%] md:group-hover:translate-x-[-90%];
        @apply lg:translate-y-[-100%] lg:translate-x-[-100%] lg:group-hover:translate-y-[-110%] lg:group-hover:translate-x-[-110%];
      }
    }
  }
}

// Product Card
.product-card {
  & .imageFrame {
    & .fruits {
      @apply absolute w-[60%] h-[60%];
    }
    &.layout-1 {
      & .fruit1 {
        left: 0px;
        transform: translate(-25%, -10%);
      }
      & .fruit2 {
        left: auto;
        right: 0px;
        top: 50%;
        transform: translate(20%, -40%) scale(75%);
        -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
        filter: blur(2px);
      }
      & .fruit3 {
        bottom: 0px;
        left: 0px;
        transform: scale(50%) translate(-30%, 20%);
        -webkit-filter: blur(6px); /* Safari 6.0 - 9.0 */
        filter: blur(6px);
      }
    }
    &.layout-2 {
      & .fruit1 {
        top: -20%;
        left: auto;
        right: 0px;
        transform: translate(25%, -10%);
      }
      & .fruit2 {
        left: 0px;
        top: 50%;
        transform: translate(-20%, -40%) scale(75%);
        -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
        filter: blur(2px);
      }
      & .fruit3 {
        bottom: 0px;
        right: 0px;
        left: auto;
        transform: scale(50%) translate(25%, 20%);
        -webkit-filter: blur(6px); /* Safari 6.0 - 9.0 */
        filter: blur(6px);
      }
    }
    &.layout-3 {
      & .fruit1 {
        left: 0px;
        transform: translate(-15%, -10%);
      }
      & .fruit2 {
        left: auto;
        right: 0px;
        bottom: 0px;
        transform: translate(30%, 0%) scale(60%);
        -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
        filter: blur(2px);
      }
      & .fruit3 {
        display: none;
      }
    }
    &.layout-4 {
      & .fruit1 {
        top: 0%;
        left: auto;
        right: 0px;
        transform: translate(25%, -10%);
      }
      & .fruit2 {
        left: 0px;
        bottom: 0px;
        transform: translate(-30%, 10%) scale(60%);
        -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
        filter: blur(2px);
      }
      & .fruit3 {
        display: none;
      }
    }
  }
}

.product-elements {
  & .fruits {
    @apply absolute h-[50%] w-auto aspect-[1/1] min-h-[100px];
  }
  // & .fruit1 {
  //   @apply bg-opacity-25 bg-blue-700;
  // }
  // & .fruit2 {
  //   @apply bg-opacity-25 bg-red-700;
  // }
  // & .fruit3 {
  //   @apply bg-opacity-25 bg-yellow-300;
  // }
  // & .fruit4 {
  //   @apply bg-opacity-25 bg-green-700;
  // }
  // & .fruit5 {
  //   @apply bg-opacity-25 bg-gray-700;
  // }
  // & .fruit6 {
  //   @apply bg-opacity-25 bg-amber-700;
  // }
  // & .fruit7 {
  //   @apply bg-opacity-25 bg-cyan-300;
  // }
  // & .fruit8 {
  //   @apply bg-opacity-25 bg-purple-700;
  // }
  &.layout-1 {
    & .fruit1 {
      // 1
      @apply rotate-6 z-3;
      @apply top-[40%] translate-y-[-50%] left-0 translate-x-[-25%];
      @apply md:top-[50%] md:translate-y-[-50%] md:left-0 md:translate-x-[-25%];
    }
    & .fruit2 {
      // 2
      @apply h-[50%] scale-[90%];
      @apply top-[50%] translate-y-[-20%] right-[0px] translate-x-[25%] z-3;
      @apply rotate-2;
    }
    & .fruit3 {
      // 3
      @apply h-[40%] scale-[85%] z-3;
      @apply -rotate-12;
      @apply top-[100%]  translate-y-[-100%] left-[05%] translate-x-[0%];
      @apply md:top-[100%]  md:translate-y-[-100%] md:left-[20%] md:translate-x-[0%];
      @apply lg:top-[100%]  lg:translate-y-[-100%] lg:left-[25%] lg:translate-x-[0%];
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit4 {
      // 1
      @apply h-[30%] scale-[100%] z-2;
      @apply rotate-3;
      @apply top-[0%]  translate-y-[-70%] left-[30%] translate-x-[0%];
      @apply md:top-[0%]  md:translate-y-[-50%] md:left-[30%] md:translate-x-[0%];
      @apply lg:top-[0%]  lg:translate-y-[-20%] lg:left-[30%] lg:translate-x-[0%];
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit5 {
      // 2
      @apply h-[30%] scale-[60%]  z-2;
      @apply rotate-2;
      @apply top-[10%]  translate-y-[-25%] right-[25%] translate-x-[0%];
      @apply lg:top-[10%]  lg:translate-y-[0%] lg:right-[25%] lg:translate-x-[0%];
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit6 {
      // 3
      @apply h-[30%] scale-[80%] z-2;
      @apply -rotate-12;
      @apply top-[0%]  translate-y-[-40%] right-[5%] translate-x-[0%];
      @apply md:top-[0%] md:translate-y-[-20%] md:right-[5%] md:translate-x-[0%];
      @apply lg:top-[5%] lg:translate-y-[0%] lg:right-[5%] lg:translate-x-[0%];
      -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
      filter: blur(4px);
    }
    & .fruit7 {
      // 1
      @apply h-[20%] scale-[60%] z-1;
      @apply -rotate-6;
      @apply top-[40%] translate-y-[0%] right-[20%] translate-x-[0%];
      @apply md:top-[40%] md:translate-y-[0%] md:right-[30%] md:translate-x-[0%];
      @apply lg:top-[50%] lg:translate-y-[0%] lg:right-[30%] lg:translate-x-[0%];
      -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
      filter: blur(4px);
    }
    & .fruit8 {
      display: none;
    }
  }
  &.layout-2 {
    & .fruit1 {
      // 1
      @apply -rotate-2 z-3;
      @apply top-[50%] translate-y-[-65%] right-0 left-auto translate-x-[25%];
      @apply md:top-[50%] md:translate-y-[-50%] md:right-0 md:left-auto md:translate-x-[25%];
      @apply lg:top-[50%] lg:translate-y-[-30%] lg:right-0 lg:left-auto lg:translate-x-[25%];
    }
    & .fruit2 {
      // 2
      @apply h-[50%] scale-[100%] z-3;
      @apply rotate-6;
      @apply top-[0%] translate-y-[-20%] left-[0%] translate-x-[10%];
      @apply sm:top-[0%] sm:translate-y-[-20%] sm:left-[5%] sm:translate-x-[25%];
    }
    & .fruit3 {
      // 3
      @apply h-[40%] scale-[80%] z-3;
      @apply -rotate-45;
      @apply top-auto bottom-0 translate-y-[10%] right-[0%] translate-x-[0%];
      @apply sm:top-auto sm:bottom-0 sm:translate-y-[10%] sm:right-[5%] sm:translate-x-[0%];
      @apply md:top-auto md:bottom-0 md:translate-y-[15%] md:right-[15%] md:translate-x-[0%];
      @apply lg:top-auto lg:bottom-0 lg:translate-y-[15%] lg:right-[25%] lg:translate-x-[0%];
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit4 {
      // 1
      @apply h-[30%] scale-[100%] z-2;
      @apply -rotate-12;
      @apply top-[35%]  translate-y-[-40%] left-[0%] translate-x-[-10%];
      @apply md:top-[50%]  md:translate-y-[-40%] md:left-[0%] md:translate-x-[-10%];
      @apply lg:top-[50%]  lg:translate-y-[-50%] lg:left-[0%] lg:translate-x-[20%];
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit5 {
      // 2
      @apply h-[25%] scale-[80%] z-2;
      @apply -rotate-2;
      @apply top-[0%]  translate-y-[-50%] right-[5%] translate-x-[0%];
      @apply md:top-[0%]  md:translate-y-[-20%] md:right-[25%] md:translate-x-[0%];
      @apply lg:top-[5%]  lg:translate-y-[20%] lg:right-[20%] lg:translate-x-[0%];
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit6 {
      // 3
      @apply h-[25%] scale-[80%]  z-2;
      @apply -rotate-12;
      @apply top-auto bottom-[15%]  translate-y-[-10%] left-[0%] translate-x-[25%];
      @apply sm:top-auto sm:bottom-[15%]  sm:translate-y-[-10%] sm:left-[10%] sm:translate-x-[25%];
      @apply md:top-auto bottom-[15%]  md:translate-y-[-10%] md:left-[20%] md:translate-x-[0%];
      @apply lg:top-auto lg:bottom-[15%]  lg:translate-y-[-20%] lg:left-[25%] lg:translate-x-[10%];
      -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
      filter: blur(4px);
    }
    & .fruit7 {
      // 1
      @apply h-[10%] scale-[90%]  z-1;
      @apply rotate-45;
      @apply top-[15%]  translate-y-[0%] left-[27.5%] translate-x-[25%];
      @apply sm:top-[0%]  sm:translate-y-[0%] sm:left-[55%] sm:translate-x-[25%];
      @apply md:top-[20%]  md:translate-y-[0%] md:left-[60%] md:translate-x-[25%];
      @apply lg:top-[20%]  lg:translate-y-[0%] lg:left-[35%] lg:translate-x-[20%];
      -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
      filter: blur(4px);
    }
    & .fruit8 {
      display: none;
    }
  }
  &.layout-3 {
    & .fruit1 {
      // 1
      @apply -rotate-6  z-3;
      @apply top-[50%] translate-y-[-75%] left-0 right-auto translate-x-[-30%];
      @apply lg:top-[50%] lg:translate-y-[-50%] lg:left-0 lg:right-auto lg:translate-x-[-30%];
    }
    & .fruit2 {
      // 2
      @apply h-[50%] scale-[80%] md:scale-[100%] z-3;
      @apply rotate-12;
      @apply bottom-[0%] translate-y-[10%] left-auto right-0 translate-x-[0%];
      @apply md:bottom-[0%] md:translate-y-[10%] md:left-[55%] md:translate-x-[0%];
      @apply lg:bottom-[0%] lg:translate-y-[10%] lg:left-[35%] lg:translate-x-[100%];
    }
    & .fruit3 {
      // 3
      display: none;
    }
    & .fruit4 {
      // 1
      @apply h-[30%] scale-[100%]  z-2;
      @apply -rotate-12;
      @apply top-[0%] translate-y-[-60%] left-[45%] translate-x-[-100%];
      @apply lg:top-[0%] lg:translate-y-[5%] lg:left-[45%] lg:translate-x-[-100%];
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit5 {
      // 2
      @apply h-[25%] scale-[80%]  z-2;
      @apply rotate-45;
      @apply top-[50%]  translate-y-[20%] left-[10%] translate-x-[0%];
      @apply md:top-[50%]  md:translate-y-[20%] md:left-[20%] md:translate-x-[0%];
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit6 {
      // 3
      display: none;
    }
    & .fruit7 {
      // 1
      @apply h-[10%] scale-[90%];
      @apply rotate-45 z-1;
      @apply top-[15%]  translate-y-[-0%] right-[0%] translate-x-[0%];
      @apply md:top-[30%]  md:translate-y-[-0%] md:right-[0%] md:translate-x-[0%];
      @apply lg:top-[30%]  lg:translate-y-[-0%] lg:right-[5%] lg:translate-x-[0%];
      @apply xl:top-[50%]  xl:translate-y-[-25%] xl:right-[5%] xl:translate-x-[0%];
      -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
      filter: blur(4px);
    }
    & .fruit8 {
      // 2
      @apply h-[10%] scale-[95%] z-1;
      @apply rotate-45;
      @apply top-[0%]  translate-y-[-50%] right-[25%] translate-x-[0%];
      @apply lg:top-[15%]  lg:translate-y-[0%] lg:right-[25%] lg:translate-x-[0%];
      -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
      filter: blur(4px);
    }
  }
  &.layout-4 {
    & .fruit1 {
      // 1
      @apply -rotate-12 z-3 scale-[80%]  md:scale-90 lg:scale-100;
      @apply top-[-5%] translate-y-[-10%] left-auto right-[0%] translate-x-[10%] ;
      @apply md:top-[0%] md:translate-y-[-10%] md:left-auto md:right-[10%] md:translate-x-[-0%] ;
    }
    & .fruit2 {
      // 2
      @apply h-[50%] scale-[90%] md:scale-[100%] z-3;
      @apply bottom-[0%] translate-y-[00%] left-[-0%] right-auto translate-x-[-20%];
      @apply md:bottom-[0%] md:translate-y-[00%] md:left-auto md:right-[50%] md:translate-x-[-50%];
      @apply rotate-45;
    }
    & .fruit3 {
      // 3
      display: none;
    }
    & .fruit4 {
      // 1
      @apply h-[30%] scale-[100%] z-2;
      @apply rotate-[60deg];
      @apply top-[-20%] translate-y-[0%] left-[17%] translate-x-[0%] ;
      @apply md:top-[-20%] md:translate-y-[0%] md:left-[25%] md:translate-x-[0%] ;
      @apply lg:top-[-10%] lg:translate-y-[0%] lg:left-[25%] lg:translate-x-[0%] ;
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit5 {
      // 2
      @apply h-[25%] scale-[80%] z-2;
      @apply rotate-12;
      @apply top-[30%] translate-y-[-50%] left-[5%] translate-x-[25%];
      @apply md:top-[40%] md:translate-y-[-50%] md:left-[0%] md:translate-x-[-10%];
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit6 {
      // 3
      display: none;
    }
    & .fruit7 {
      // 1
      @apply h-[10%] scale-[100%]  z-1;
      @apply rotate-45;
      @apply bottom-[60%] top-auto translate-y-[10%] right-[0%] translate-x-[0%];
      @apply md:bottom-[50%] md:top-auto md:translate-y-[10%] md:right-[7.5%] md:translate-x-[0%];
      @apply lg:bottom-[30%] lg:top-auto lg:translate-y-[25%] lg:right-[7.5%] lg:translate-x-[0%];
      -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
      filter: blur(4px);
    }
    & .fruit8 {
      // 2
      @apply h-[10%] scale-[100%]  z-1;
      @apply rotate-45;
      @apply bottom-[50%] top-auto translate-y-[75%] right-[15%] translate-x-[0%];
      @apply md:bottom-[50%] md:top-auto md:translate-y-[75%] md:right-[25%] md:translate-x-[0%];
      -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
      filter: blur(4px);
    }
  }
}
