.categoryImage {
  & .imageFrame {
    @apply w-1/2 lg:w-2/5 h-auto aspect-[5/6] absolute-center origin-center;
    @apply flex;

    & > div {
      @apply w-full h-full relative;
      @apply transition-all duration-300 group-hover:delay-75 group-hover:duration-500;
    }
  }
  & .image1 {
    z-index: 3;
    & > div {
      @apply opacity-0 group-hover:opacity-100;
    }
  }
  & .image2 {
    z-index: 2;
    & > div {
      @apply opacity-0 group-hover:opacity-100;
    }
  }
  & .image3 {
    z-index: 1;
    & > div {
      @apply opacity-0 group-hover:opacity-100;
    }
  }
  & .graphicFrame {
    @apply w-full h-full absolute-center origin-center opacity-0;
    @apply transition-all duration-300 group-hover:delay-75 group-hover:duration-500;
    & > div {
      @apply w-1/4 max-w-2xl aspect-[1/1] absolute-center origin-center;
      & > svg {
        @apply transition-all duration-300 group-hover:delay-75 group-hover:duration-700 scale-50 min-w-[100px];
      }
    }
  }

  // LAYOUT 1
  &.layout-1 {
    & .image1 {
      & > div {
        @apply group-hover:rotate-[15deg] group-hover:scale-105;
      }
    }
    & .image2 {
      & > div {
        @apply group-hover:rotate-[50deg] group-hover:translate-x-[-65%] group-hover:translate-y-[-60%] group-hover:scale-75;
      }
    }
    & .image3 {
      & > div {
        @apply group-hover:rotate-[-30deg] group-hover:translate-x-[75%] group-hover:translate-y-[30%] group-hover:scale-[60%];
      }
    }
    & .graphicFrame {
      //upper right
      @apply group-hover:opacity-100;
      & .graphic1 > svg {
        @apply group-hover:translate-y-[-50%]  group-hover:translate-x-[125%]  group-hover:scale-100 min-w-[100px];
      }
      // lower left
      & .graphic2 > svg {
        @apply group-hover:translate-y-[10%]  group-hover:translate-x-[-125%]  group-hover:scale-100 min-w-[100px];
      }
      //top
      & .graphic3 > svg {
        @apply group-hover:translate-y-[-120%]  group-hover:translate-x-[50%]  group-hover:scale-[40%];
      }
    }
  }
  // LAYOUT 2
  &.layout-2 {
    & .image1 {
      & > div {
        @apply group-hover:rotate-[-8deg] group-hover:scale-105;
      }
    }
    & .image2 {
      & > div {
        @apply group-hover:rotate-[-30deg] group-hover:scale-[80%] group-hover:translate-x-[-60%] group-hover:translate-y-[15%];
      }
    }
    & .image3 {
      & > div {
        @apply group-hover:rotate-[30deg] group-hover:scale-[80%] group-hover:translate-x-[60%] group-hover:translate-y-[30%];
      }
    }
    & .graphicFrame {
      // upper right
      @apply group-hover:opacity-100;
      & .graphic1 > svg {
        @apply group-hover:translate-y-[-60%]  group-hover:translate-x-[120%] group-hover:scale-[90%];
      }
      // lower left
      & .graphic2 > svg {
        @apply group-hover:translate-y-[100%]  group-hover:translate-x-[-50%] group-hover:scale-[90%];
      }
      //top left
      & .graphic3 > svg {
        @apply group-hover:translate-y-[-75%]  group-hover:translate-x-[-120%]  group-hover:rotate-[10deg] group-hover:scale-[90%];
      }
    }
  }

  // LAYOUT 3
  &.layout-3 {
    & .image1 {
      & > div {
        @apply group-hover:rotate-[-3deg] group-hover:scale-110;
      }
    }
    & .image2 {
      & > div {
        @apply group-hover:rotate-[-15deg] group-hover:scale-[80%] group-hover:translate-x-[-60%] group-hover:translate-y-[15%];
      }
    }
    & .image3 {
      & > div {
        @apply group-hover:rotate-[15deg] group-hover:scale-[80%] group-hover:translate-x-[60%] group-hover:translate-y-[0%];
      }
    }
    & .graphicFrame {
      // right
      @apply group-hover:opacity-100;
      & .graphic1 > svg {
        @apply group-hover:translate-y-[75%]   group-hover:translate-x-[140%]  group-hover:scale-100 rotate-[30deg];
      }
      //  left
      & .graphic2 > svg {
        @apply group-hover:translate-y-[90%]  group-hover:translate-x-[-150%]  group-hover:scale-100 -rotate-[15deg];
      }
      //top
      & .graphic3 > svg {
        @apply group-hover:translate-y-[-110%]   group-hover:translate-x-[150%]  group-hover:scale-[75%] w-1/6;
      }
    }
  }

  // LAYOUT 4
  &.layout-4 {
    & .image1 {
      & > div {
        @apply group-hover:rotate-[10deg]  group-hover:scale-110;
      }
    }
    & .image2 {
      & > div {
        @apply group-hover:rotate-[-15deg]  group-hover:translate-x-[-75%]  group-hover:translate-y-[40%]  group-hover:scale-[60%];
      }
    }
    & .image3 {
      & > div {
        @apply group-hover:rotate-[-40deg]  group-hover:translate-x-[70%]  group-hover:translate-y-[-50%]  group-hover:scale-75;
      }
    }
    & .graphicFrame {
      //upper right
      @apply group-hover:opacity-100;
      & .graphic1 > svg {
        @apply group-hover:translate-y-[30%]   group-hover:translate-x-[125%]   group-hover:scale-100;
      }
      //  left
      & .graphic2 > svg {
        @apply group-hover:translate-y-[10%]  group-hover:translate-x-[-200%]   group-hover:scale-100 w-1/6;
      }
      // left
      & .graphic3 > svg {
        @apply group-hover:translate-y-[-50%]   group-hover:translate-x-[-120%]   group-hover:scale-100;
      }
    }
  }
}

//Category Images
.categoryImageCard {
  & .imageFrame {
    @apply w-2/3 h-2/3 aspect-[1/1] absolute-center origin-center;
    & > div {
      @apply w-full h-full;
      @apply transition-all duration-300  group-hover:duration-500;
    }
  }
  & .image1 {
    z-index: 4;
  }
  & .image2 {
    z-index: 3;
  }
  & .image3 {
    z-index: 2;
  }
  & .graphicFrame {
    @apply w-full h-full absolute-center origin-center;
    @apply transition-all duration-300 group-hover:duration-500;
    & > div {
      @apply w-1/4  max-w-xl aspect-[1/1] absolute-center origin-center;
      & > svg {
        @apply transition-all duration-300 group-hover:duration-700 scale-50;
      }
    }
  }

  // LAYOUT 1
  &.layout-1 {
    & .image1 {
      & > div {
        @apply rotate-[7deg] scale-105;
        @apply group-hover:rotate-[15deg] group-hover:scale-[125%];
      }
    }
    & .image2 {
      & > div {
        @apply rotate-[50deg] translate-x-[-40%] md:translate-x-[-50%] translate-y-[-40%] scale-[80%];
        @apply group-hover:rotate-[45deg] md:group-hover:translate-x-[-45%] group-hover:translate-x-[-35%] group-hover:translate-y-[-35%];
      }
    }
    & .image3 {
      & > div {
        @apply rotate-[-30deg] translate-x-[40%] md:translate-x-[50%] translate-y-[30%] scale-[60%];
        @apply group-hover:rotate-[-25deg] md:group-hover:translate-x-[45%] group-hover:translate-x-[35%] group-hover:translate-y-[25%];
      }
    }
    & .graphicFrame {
      //upper right
      & .graphic1 > svg {
        @apply md:translate-y-[-60%] translate-y-[-50%]  translate-x-[85%] md:translate-x-[80%]  scale-100 w-[175px];
        @apply group-hover:translate-y-[-55%]  group-hover:translate-x-[70%]  group-hover:scale-90 group-hover:rotate-[-5deg];
      }
      // lower left
      & .graphic2 > svg {
        @apply translate-y-[30%] md:translate-y-[10%]  translate-x-[-90%]  scale-100 w-[225px];
        @apply group-hover:translate-y-[20%]  md:group-hover:translate-y-[5%]  group-hover:translate-x-[-80%]  group-hover:scale-90 group-hover:rotate-[5deg];
      }
    }
  }
  // LAYOUT 2
  &.layout-2 {
    & .image1 {
      & > div {
        @apply rotate-[-8deg] scale-105;
        @apply group-hover:rotate-[-2deg] group-hover:scale-[125%];
      }
    }
    & .image2 {
      & > div {
        @apply rotate-[-25deg] scale-[75%] translate-x-[-35%] translate-y-[10%];
        @apply group-hover:translate-x-[-45%] group-hover:translate-y-[5%];
        @apply group-hover:rotate-[-30deg] group-hover:scale-[80%] md:group-hover:translate-x-[-55%] md:group-hover:translate-y-[15%];
      }
    }
    & .image3 {
      & > div {
        @apply rotate-[20deg] scale-[75%] translate-x-[35%] translate-y-[10%];
        @apply group-hover:rotate-[30deg] group-hover:scale-[90%] md:group-hover:scale-[80%] group-hover:translate-x-[45%] md:group-hover:translate-x-[55%]  group-hover:translate-y-[20%] md:group-hover:translate-y-[30%];
      }
    }
    & .graphicFrame {
      // upper right
      & .graphic1 > svg {
        @apply translate-y-[-90%] -rotate-12 translate-x-[80%] scale-90 w-[150px];
        @apply group-hover:translate-y-[-90%] group-hover:rotate-0 group-hover:translate-x-[110%] md:group-hover:translate-x-[130%] group-hover:scale-100;
      }
      // lower left
      & .graphic2 > svg {
        @apply translate-y-[90%]  md:translate-y-[150%] translate-x-[-60%] scale-90 w-[125px];
        @apply group-hover:translate-y-[100%] md:group-hover:translate-y-[175%]  group-hover:translate-x-[-80%] group-hover:scale-100;
      }
      //top left
      & .graphic3 > svg {
        @apply translate-y-[-85%]  translate-x-[-125%]  rotate-[10deg] scale-100 w-[75px];
        @apply md:translate-y-[-125%]  md:translate-x-[-125%]  md:rotate-[10deg] md:scale-90;
        @apply group-hover:translate-y-[-90%]  group-hover:translate-x-[-150%]  group-hover:rotate-[15deg] group-hover:scale-100;
        @apply md:group-hover:translate-y-[-150%]  md:group-hover:translate-x-[-150%]  md:group-hover:rotate-[15deg] md:group-hover:scale-100;
      }
    }
  }

  // LAYOUT 3
  &.layout-3 {
    background: black;
    & .image1 {
      & > div {
        @apply rotate-[-3deg] scale-110;
        @apply group-hover:rotate-[0deg] group-hover:scale-[125%];
      }
    }
    & .image2 {
      & > div {
        @apply rotate-[-15deg] scale-[75%] translate-x-[-35%] translate-y-[10%];
        @apply group-hover:rotate-[-20deg]  group-hover:scale-[80%]  group-hover:translate-x-[-45%]  group-hover:translate-y-[15%];
      }
    }
    & .image3 {
      & > div {
        @apply rotate-[15deg] scale-[75%] translate-x-[35%] translate-y-[0%];
        @apply group-hover:rotate-[20deg]  group-hover:scale-[80%]  group-hover:translate-x-[45%]  group-hover:translate-y-[-5%];
      }
    }
    & .graphicFrame {
      // right
      @apply opacity-100;
      & .graphic1 > svg {
        @apply translate-y-[0%] translate-x-[200%] scale-100 w-[125px];
        @apply group-hover:translate-y-[20%]  group-hover:translate-x-[225%]  group-hover:scale-90;
      }
      //  left
      & .graphic2 > svg {
        @apply translate-y-[50%] translate-x-[-175%] scale-100 w-[125px];
        @apply group-hover:translate-y-[20%]  group-hover:translate-x-[-225%]  group-hover:scale-90;
      }
      //top
      & .graphic3 > svg {
        @apply translate-y-[-150%] translate-x-[300%]  scale-100 w-10;
        @apply group-hover:translate-y-[-175%]  group-hover:translate-x-[350%]   group-hover:scale-90;
      }
    }
  }

  // LAYOUT 4
  &.layout-4 {
    & .image1 {
      & > div {
        @apply rotate-[10deg]  scale-110;
        @apply group-hover:rotate-[3deg] group-hover:scale-[125%];
      }
    }
    & .image2 {
      & > div {
        @apply rotate-[-20deg]  translate-x-[-45%]  translate-y-[35%]  scale-[65%];
        @apply group-hover:rotate-[-30deg]  group-hover:translate-x-[-35%]  group-hover:translate-y-[30%]  group-hover:scale-[60%];
      }
    }
    & .image3 {
      & > div {
        @apply rotate-[-30deg]  translate-x-[45%]  translate-y-[-30%]  scale-75;
        @apply group-hover:rotate-[-20deg]  group-hover:translate-x-[40%]  group-hover:translate-y-[-25%]  group-hover:scale-[80%];
      }
    }
    & .graphicFrame {
      //upper right
      & .graphic1 > svg {
        @apply translate-y-[75%]   translate-x-[115%]  scale-90 w-[150px];
        @apply group-hover:translate-y-[100%]  group-hover:rotate-12 group-hover:translate-x-[130%]   group-hover:scale-100;
      }
      //  left
      & .graphic2 > svg {
        @apply translate-y-[-30%] translate-x-[-200%]   scale-90 w-[50px];
        @apply group-hover:translate-y-[-35%] group-hover:translate-x-[-220%] group-hover:scale-100;
      }
      // left
      & .graphic3 > svg {
        @apply translate-y-[-100%] translate-x-[-100%]   scale-90  w-[175px];
        @apply group-hover:translate-y-[-110%]  group-hover:translate-x-[-110%] group-hover:scale-100;
      }
    }
  }
}

// Product Card
.product-card {
  & .imageFrame {
    & .fruits {
      @apply absolute w-[60%] h-[60%];
    }
    &.layout-1 {
      & .fruit1 {
        left: 0px;
        transform: translate(-25%, -10%);
      }
      & .fruit2 {
        left: auto;
        right: 0px;
        top: 50%;
        transform: translate(20%, -40%) scale(75%);
        -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
        filter: blur(2px);
      }
      & .fruit3 {
        bottom: 0px;
        left: 0px;
        transform: scale(50%) translate(-30%, 20%);
        -webkit-filter: blur(6px); /* Safari 6.0 - 9.0 */
        filter: blur(6px);
      }
    }
    &.layout-2 {
      & .fruit1 {
        top: -20%;
        left: auto;
        right: 0px;
        transform: translate(25%, -10%);
      }
      & .fruit2 {
        left: 0px;
        top: 50%;
        transform: translate(-20%, -40%) scale(75%);
        -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
        filter: blur(2px);
      }
      & .fruit3 {
        bottom: 0px;
        right: 0px;
        left: auto;
        transform: scale(50%) translate(25%, 20%);
        -webkit-filter: blur(6px); /* Safari 6.0 - 9.0 */
        filter: blur(6px);
      }
    }
    &.layout-3 {
      & .fruit1 {
        left: 0px;
        transform: translate(-15%, -10%);
      }
      & .fruit2 {
        left: auto;
        right: 0px;
        bottom: 0px;
        transform: translate(30%, 0%) scale(60%);
        -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
        filter: blur(2px);
      }
      & .fruit3 {
        display: none;
      }
    }
    &.layout-4 {
      & .fruit1 {
        top: 0%;
        left: auto;
        right: 0px;
        transform: translate(25%, -10%);
      }
      & .fruit2 {
        left: 0px;
        bottom: 0px;
        transform: translate(-30%, 10%) scale(60%);
        -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
        filter: blur(2px);
      }
      & .fruit3 {
        display: none;
      }
    }
  }
}

.product-elements {
  & .fruits {
    @apply absolute h-[50%] w-auto aspect-[1/1] min-h-[100px];
  }
  &.layout-1 {
    & .fruit1 {
      // 1
      @apply top-[50%] translate-y-[-50%] left-0 translate-x-[-25%] z-3;
      @apply rotate-6;
    }
    & .fruit2 {
      // 2
      @apply h-[50%] scale-[90%];
      @apply top-[50%] translate-y-[-20%] right-[0px] translate-x-[25%] z-3;
      @apply rotate-2;
    }
    & .fruit3 {
      // 3
      @apply h-[40%] scale-[85%];
      @apply -rotate-12;
      @apply top-[100%]  translate-y-[-100%] left-[25%] translate-x-[0%] z-3;
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit4 {
      // 1
      @apply h-[30%] scale-[100%];
      @apply rotate-3;
      @apply top-[0%]  translate-y-[-20%] left-[30%] translate-x-[0%] z-2;
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit5 {
      // 2
      @apply h-[30%] scale-[60%];
      @apply rotate-2;
      @apply top-[10%]  translate-y-[0%] right-[25%] translate-x-[0%] z-2;
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit6 {
      // 3
      @apply h-[30%] scale-[80%];
      @apply -rotate-12;
      @apply top-[5%]  translate-y-[0%] right-[5%] translate-x-[0%] z-2;
      -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
      filter: blur(4px);
    }
    & .fruit7 {
      // 1
      @apply h-[20%] scale-[60%];
      @apply -rotate-6;
      @apply top-[50%]  translate-y-[0%] right-[30%] translate-x-[0%] z-1;
      -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
      filter: blur(4px);
    }
    & .fruit8 {
      display: none;
    }
  }
  &.layout-2 {
    & .fruit1 {
      // 1
      @apply top-[50%] translate-y-[-30%] right-0 left-auto translate-x-[25%] z-3;
      @apply -rotate-2;
    }
    & .fruit2 {
      // 2
      @apply h-[50%] scale-[100%];
      @apply top-[0%] translate-y-[-20%] left-[5%] translate-x-[25%] z-3;
      @apply rotate-6;
    }
    & .fruit3 {
      // 3
      @apply h-[40%] scale-[80%];
      @apply -rotate-45;
      @apply top-auto bottom-0  translate-y-[15%] right-[25%] translate-x-[0%] z-3;
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit4 {
      // 1
      @apply h-[30%] scale-[100%];
      @apply -rotate-12;
      @apply top-[50%]  translate-y-[-50%] left-[0%] translate-x-[20%] z-2;
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit5 {
      // 2
      @apply h-[25%] scale-[80%];
      @apply -rotate-2;
      @apply top-[5%]  translate-y-[20%] right-[20%] translate-x-[0%] z-2;
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit6 {
      // 3
      @apply h-[25%] scale-[80%];
      @apply -rotate-12;
      @apply top-auto bottom-[15%]  translate-y-[-20%] left-[25%] translate-x-[10%] z-2;
      -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
      filter: blur(4px);
    }
    & .fruit7 {
      // 1
      @apply h-[10%] scale-[90%];
      @apply rotate-45;
      @apply top-[20%]  translate-y-[0%] left-[35%] translate-x-[20%] z-1;
      -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
      filter: blur(4px);
    }
    & .fruit8 {
      display: none;
    }
  }
  &.layout-4,
  &.layout-3 {
    & .fruit1 {
      // 1
      @apply top-[50%] translate-y-[-50%] left-0 right-auto translate-x-[-30%] z-3;
      @apply -rotate-6;
    }
    & .fruit2 {
      // 2
      @apply h-[50%] scale-[100%];
      @apply bottom-[0%] translate-y-[10%] left-[50%] translate-x-[50%] z-3;
      @apply rotate-12;
    }
    & .fruit3 {
      // 3
      display: none;
    }
    & .fruit4 {
      // 1
      @apply h-[30%] scale-[100%];
      @apply -rotate-12;
      @apply top-[0%] translate-y-[5%] left-[45%] translate-x-[-100%] z-2;
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit5 {
      // 2
      @apply h-[25%] scale-[80%];
      @apply rotate-45;
      @apply top-[50%]  translate-y-[20%] left-[20%] translate-x-[0%] z-2;
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit6 {
      // 3
      display: none;
    }
    & .fruit7 {
      // 1
      @apply h-[10%] scale-[90%];
      @apply rotate-45;
      @apply top-[50%]  translate-y-[-25%] right-[5%] translate-x-[0%] z-1;
      -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
      filter: blur(4px);
    }
    & .fruit8 {
      // 2
      @apply h-[10%] scale-[95%];
      @apply rotate-45;
      @apply top-[15%]  translate-y-[0%] right-[25%] translate-x-[0%] z-1;
      -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
      filter: blur(4px);
    }
  }
  &.layout-4 {
    & .fruit1 {
      // 1
      @apply top-[0%] translate-y-[-10%] left-auto right-[10%] translate-x-[-0%] z-3;
      @apply -rotate-12;
    }
    & .fruit2 {
      // 2
      @apply h-[50%] scale-[100%];
      @apply bottom-[0%] translate-y-[10%] right-[50%] translate-x-[-150%] z-3;
      @apply rotate-45;
    }
    & .fruit3 {
      // 3
      display: none;
    }
    & .fruit4 {
      // 1
      @apply h-[30%] scale-[100%];
      @apply rotate-[60deg];
      @apply top-[0%] translate-y-[5%] left-[25%] translate-x-[0%] z-2;
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit5 {
      // 2
      @apply h-[25%] scale-[80%];
      @apply rotate-12;
      @apply top-[50%] translate-y-[-50%] left-[0%] translate-x-[-10%] z-2;
      -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
      filter: blur(2px);
    }
    & .fruit6 {
      // 3
      display: none;
    }
    & .fruit7 {
      // 1
      @apply h-[10%] scale-[100%];
      @apply rotate-45;
      @apply bottom-[40%] top-auto translate-y-[25%] right-[7.5%] translate-x-[0%] z-1;
      -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
      filter: blur(4px);
    }
    & .fruit8 {
      // 2
      @apply h-[10%] scale-[100%];
      @apply rotate-45;
      @apply bottom-[50%] top-auto translate-y-[75%] right-[25%] translate-x-[0%] z-1;
      -webkit-filter: blur(4px); /* Safari 6.0 - 9.0 */
      filter: blur(4px);
    }
  }
}
