// $overlayBackground: rgba(0, 0, 0, 0.75);
$overlayBackground: rgba(255, 255, 255, 0.6);
$white: #fff;
$black: #000;
$primary: #175ba7;
$skyBlue: #d1f1ff;
$transition-all: all 300ms;

.ReactModal__Body--open {
  overflow: hidden;
}

.faq {
  overflow: auto !important;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: $transition-all;

  @media (min-width: 768px) {
    .PageModal__Content {
      bottom: -100%;
      transition: $transition-all;
    }
  }
}

.ReactModal__Overlay--after-open {
  opacity: 1;

  @media (min-width: 768px) {
    .PageModal__Content {
      bottom: 0;
    }
  }
}

.ReactModal__Overlay--before-close {
  opacity: 0;

  @media (min-width: 768px) {
    .PageModal__Content {
      bottom: -100%;
    }
  }
}

// PAGE MODAL
.PageModal__Content {
  margin: auto;
  width: 100%;
  height: auto;
  outline: none;
  position: relative;

  @media (min-width: 768px) {
    width: calc(100% - 32px);
    height: auto;
    border-radius: 20px;
  }

  @media (min-width: 1024px) {
    @apply max-w-screen-2xl;
    width: calc(100% - 64px);
  }
}

.PageModal__Content--Outer {
  position: relative;
  padding: 40px 30px 40px;
  @apply bg-white;

  @media (min-width: 768px) {
    @apply bg-white rounded-2xl;
    padding: 40px 60px;
  }

  @media (min-width: 1024px) {
  }
}

.PageModal__Content--Inner {
  @media (min-width: 768px) {
    height: 100%;
    overflow-y: auto;
  }

  @media (min-width: 1024px) {
    max-width: 795px;
    margin: 0 auto;
  }
}

// BASIC MODAL
.BasicModal__Content {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  outline: none;

  @media (min-width: 768px) {
    max-width: calc(100% - 80px);
    max-height: calc(100% - 160px);
    height: auto;
    border-radius: 20px;
    overflow: hidden;

    &.even {
      color: $primary;
      background: $skyBlue;

      .BasicModal__Close {
        color: inherit;
        border-color: $primary;
      }
    }

    &.odd {
      color: $white;
      background: $primary;

      .BasicModal__Close {
        color: inherit;
        border-color: $white;
      }
    }
  }

  @media (min-width: 1024px) {
    max-width: calc(100% - 240px);
    max-height: 750px;
  }
}

.BasicModal__Content--Outer {
  padding: 40px 30px 40px;

  @media (min-width: 1024px) {
    padding: 65px 90px;
  }
}

// GALLERY MODAL
.GalleryModal__Content {
  .swiper-slide {
    cursor: default;
  }
}

.GalleryModal__Content--Inner {
  // 160px is to accomodate swiper's navigational buttons
  max-width: calc(1024px + 160px);
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MIXED
.PageModal__Overlay,
.BasicModal__Overlay,
.GalleryModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  background: $overlayBackground;
  z-index: 100;
  // cursor: pointer;
}

.PageModal__Overlay {
  height: 100vh;
  overflow: auto;
  @apply flex justify-center;
  padding: 0px;
  @media (min-width: 768px) {
    padding-top: 140px;
    padding-bottom: 40px;
  }
}

.Modal__Close,
.PageModal__Close,
.BasicModal__Close,
.GalleryModal__Close {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 30px;
  right: 20px;
  color: $black;
  z-index: 1;

  > svg {
    stroke-width: 0;
  }

  @media (min-width: 768px) {
    width: 30px;
    height: 30px;
    color: $primary;
    border: 2px solid $primary;
    border-radius: 50%;
    padding: 7px;

    > svg {
      stroke-width: 1;
    }
  }

  @media (max-width: 768px) {
    @apply right-4 top-4;
  }
  @media (min-width: 1024px) {
    top: 40px;
    right: 40px;
  }
}

.GalleryModal__Close {
  @media (min-width: 768px) {
    display: none;
  }
}
