.hero-slider {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    background: transparent;
    opacity: 1;
    margin: 0 5px;
    @apply ease-in-out duration-500;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
    background: #fff;
  }

  @media (min-width: 768px) {
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      margin: 0 7px;
    }
  }

  @media (min-width: 1200px) {
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      margin: 0 10px;
    }
  }
}

.contact-card-slider {
  .swiper-pagination {
    display: none;
    align-items: center;
    justify-content: center;
    bottom: 20px;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    background: transparent;
    opacity: 1;
    margin: 0 10px;
    @apply transition-all;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
    background: #fff;
  }

  @media (min-width: 768px) {
    .swiper-pagination {
      display: flex;
    }
  }
}

.recipe-gallery-slider {
  .swiper {
    @apply px-8
  }

  .swiper-slide {
    width: auto !important;
  }
}