/* Content Stylings */
.content {
  & > p {
    @apply mb-3 last-of-type:mb-0;
  }

  & > p > a {
    @apply underline hover:text-opacity-25 focus:text-opacity-25;
  }

  & > h1,
  & > .h1 {
    @apply mb-3;
  }

  & > h2,
  & > .h2 {
    @apply mb-3;
  }
}

@mixin default-type {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 500;
}

.default-type {
  @include default-type;
}

/* Heading Defaults */
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  @apply p-0 mb-2;
}

.mobileMenu.pointer-events-none {
  & * {
    pointer-events: none !important;
  }
}

h1 {
  font-family: "Poppins", Helvetica, sans-serif;
  @apply font-nutmeg text-mtitleBig leading-tight lg:text-h2 xl:text-h2;
}
h2{
  @apply font-default text-default;
}
