/* Webfonts */
@import "_fonts.scss";

/* Tailwind base/components */
@import "tailwindcss/base";
@import "tailwindcss/components";

/* Custom Style Imports */
@import "_typography.scss";
@import "_desktopHeader.scss";
@import "_morinTab.scss";
@import "_util.scss";
@import "_imageStyling.scss";

/* Tailwind Utilities */
@import "tailwindcss/utilities";

/* SwiperJs Styling */
@import "swiper/scss";
@import "swiper/scss/pagination";
@import "swiper/scss/navigation";
@import "swiper/scss/free-mode";
@import "swiper/scss/effect-fade";
@import "_slider.scss";

/* React Modal Styling */
@import "_modal.scss";

/* Simple defaults */
body {
  @apply font-default text-defaultSmall md:text-default antialiased text-black bg-white;
  @include default-type;

  &.ReactModal__Body--open {
    overflow: hidden;
  }
}

@mixin setflex-center {
  @apply flex justify-center items-center flex-row;
}
.setflex-center {
  @include setflex-center();
}

@mixin absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
.absolute-center {
  @include absolute-center();
}

.aboutLineMobile {
  transform: scale(-1, 1) rotate(20deg);
}
